.header {
  border-bottom: 1px solid #f2f4f7;
  padding: 14px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f7;
  margin-bottom: 48px;
}
.centerNav {
  display: flex;
  gap: 28px;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 20px;
}
.containerLogReg {
  display: flex;
  gap: 16px;
}
.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.logoutButton {
  background-color: #ff4d4f;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logoutButton:hover {
  background-color: #ff1a1a;
}
