.buttonHeart {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: transform 0.3s ease;
}

.buttonHeart:focus {
  transform: scale(1.1);
}

.buttonHeart {
  background: none;
  border: none;
  cursor: pointer;
}

.buttonHeartActive {
  color: red;
}
